@import "./components/index.scss";

.App{ 
    .header{
        .logo{
            color: $v-text-verso;
            margin-right: 10px;
        }
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $clr-main-pressed;
        padding-left: 10px;
        .link{
            margin-right: 10px;
            color: $v-text-verso-sec;
        }
    }
    .ctn-page{
        padding-top: 60px;
        padding: 40px;
        

    }
}
    
